<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-title> <ion-icon name="reader-outline"></ion-icon> Pendientes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="dark">
  
  <app-listas [terminada]="false"></app-listas>

  <!-- <div class="ion-text-center" *ngIf="service.listas.length === 0" style="height: 100%">
    <div style="margin-top: 50%">
        <img src="../../assets/emptylist.png">
        <br><br>
        <ion-label style="color: grey">No tiene tareas pendientes actualmente.</ion-label>
    </div>
  </div> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" size="small" (click)="goAgregar()">
      <ion-icon name="add" style="color:white"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
