<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-title> <ion-icon name="reader-outline"></ion-icon> Pendientes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="dark">
  
  <app-listas [terminada]="false"></app-listas>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" size="small" (click)="goAgregar()">
      <ion-icon name="add" style="color:white"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
